<!-- header start -->
<header class="header-sec">
    <div class="main-header">
      <div class="logo">
        <span>Reward *Charly</span>
      </div>
      <div class="input-btn">
        <span>@ the zone xzs </span>
        <span><i class="fa fa-user" aria-hidden="true"></i></span>
      </div>
    </div>
    <div class="secondary-header">
      <p>Plateform to achieve the Extraordinary.</p>
    </div>
  </header>
  <!-- header End -->
  <!-- body section start -->
  <div class="main-body">
    <div class="headImg">
      <img src="assets/images/star.png" alt="user image">
      <p>${{amount}}</p>
    </div>
    <!-- Reciver section start -->
    <div class="head-name">
      Reciver
    </div>
    <div class="item-section">
      <div class="list-item down_line">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="user image">
        <div class="text-content">
          <p>Reciver name</p>
          <span>by QR code</span>
        </div>
        
      </div>
      <!-- <div class="wrapper"></div> -->
      <div class="timeSec">
        <span>Date Stamp</span>
        <span>{{getId}}</span>
      </div>
    </div>
    <!-- sender section start -->
    <div class="head-name2">
      Sender
    </div>
    <div class="item-section">
      <div class="list-item down_line">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="user image">
        <div class="text-content">
          <p>Sender name</p>
          <span>by QR code</span>
        </div>
        
      </div>
      <div class="timeSec">
        <span>Date Stamp</span>
        <span>{{getId}}</span>
      </div>
    </div>
    <button matRipple type="button" class="btn btn-primary">Accept</button>
  </div>
  <!-- body section End -->
  