.header-section {background:#fff;padding: 15px;height: 50px;display: flex;justify-content: space-between;line-height: 50px;}
span.title {color: #2f3a3e;font-family: Quicksand;font-size: 16px;font-weight: 700;letter-spacing: 0.07px;}
span.back-arrow img {width: 18px;line-height: 75px;margin-top: 16px;}
.hide{color:#fff}
.card{width: 92%;height: 280px;background: #fff;box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);position: absolute;top: 55%;left: 50%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);}
.card .card_inner {position: relative;top: 47%;left: 50%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);border: 1px solid #444;border-radius: 100%;width: 70px;height: 70px;}
.card img {width: 50px;height: 50px;padding: 10px;}
.qr_scanner{margin-top: 99px;-webkit-box-flex: 2;flex: 2;text-align: center;font-size: 14px;color: #001930;}

.list-item{display: flex;justify-content: space-between;padding: 15px;background: #fff;font-size: 18px;color: #001830;}
.item-section{border-top: 1px solid #cec6c6;    width: 100%;border-bottom: 1px solid #cec6c6;    background: #fff;}
img.mat-card-image { width: 60px;height: 60px;border-radius: 50%;border: 1px solid #ff9900;     border: 1px solid #ff9900; margin: 0 auto;display: block;}
.text-content{padding-top: 10px;padding-left: 10px;width: 100%;}
.text-content p {color: #2f3a3e;font-family: "Quicksand";font-size: 16px;font-weight: 500;letter-spacing: 0.24px;margin: 0px;}
.text-content span{font-size: 14px;font-weight: 600;color: #9b9a9b;font-family: Quicksand;}
.timeSec{ display: flex; justify-content:space-between;padding: 15px;color: #6f6f6e;font-family: Quicksand;}
.headImg{padding: 30px; position: relative;}
.head-name {padding: 15px;color: #9b9a9b;font-family: 'Quicksand';    font-size: 19px;font-weight: 700;letter-spacing: 0.08px;}
.down_line{position: relative;}
.down_line::after{content: "";position: absolute;left: 0;right: 0; background-color: #dad4d4;height: 1px;bottom: 0;max-width: 92%;margin: 0 auto;}
.headImg img {margin: 0 auto;display: block;}
.headImg p{position: absolute;top: 42%;left: 0%;font-size: 30px;font-weight: 900;text-align: center;width: 100%;}
.head-name2{padding: 15px;color: #9b9a9b;font-family: 'Quicksand';margin-top: 10px;font-size: 19px;font-weight: 700;letter-spacing: 0.08px;}
.main-body button{    width: 50%;margin: 0 auto;display: block;padding: 10px;margin-top: 20px;border-radius: 23px;border: 0px;background: #4eaaf6;color: #fff;}
/* .wrapper {
    border-bottom: 1px solid #ccc;
    width: 92%;
    margin: 0 auto;
} */