.header-section {background:#fff;padding: 15px;height: 50px;display: flex;justify-content: space-between;line-height: 50px;}
span.title {color: #2f3a3e;font-family: Quicksand;font-size: 16px;font-weight: 700;letter-spacing: 0.07px;}
span.back-arrow img {width: 18px;line-height: 75px;margin-top: 16px;}
.hide{color:#fff}
p.tansection {padding: 8px 15px; color: #2f3a3e; font-family: Quicksand; font-size: 16px;font-weight: 700; letter-spacing: 0.07px;text-align: center;}
h2 { color: #9b9a9b; font-family: Quicksand;font-size: 19px;font-weight: 700;letter-spacing: 0.08px;}
.container{padding: 15px;}
.scanner-sec p{color: #2f3a3e;font-family: Quicksand;font-size: 14px;font-weight: 700;letter-spacing: 0.06px;text-align: center;margin-bottom: 0px;}
.scanner-sec {text-align: center;}
.scanner-sec .code{color: #2f3a3e;font-family: "Stem - Medium";font-size: 14px;font-weight: 500;letter-spacing: -0.34px;text-align: center;margin-top: 0;}
.cancel{text-align: center;color: #0672d0;font-family: Quicksand;font-size: 12px; font-weight: 700;letter-spacing: 0.05px;padding-top: 10px;}
