<header>
    <div class="header-section">
        <span class="back-arrow">
            <img src="assets/images/back.png">
        </span>
        <span class="title">
            Transaction link
        </span>
        <span class="hide"> menu
        </span>
    </div>
</header>
<div class="container">
    <h2>Transaction</h2>
    <p>*<span>546</span> Jellies to Dos Bandidos Restaurant </p>
    <h1 matRipple (click)="copyMessage(linkurl)">Copy Link</h1>
    <h4 (click)="transferCancel()">Cancel transfer</h4>
</div>
<footer>

</footer>